.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 70px;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
}

.mapContainer {
    position: absolute;
    top: 70px;
    right: 50%;
    left: 10px;
    bottom: 0;
}

#menu {
    position: absolute;
    background: #fff;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
}
